@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply font-sans m-0 p-0;
  font-family: 'Helvetica', sans-serif;


}

h1 {
  @apply text-center;
}

form {
  @apply flex flex-col max-w-md mx-auto;
}

input, button {
  @apply my-2 p-2;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica.woff2') format('woff2'),
       url('/fonts/Helvetica.woff') format('woff'),
       url('/fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



